h1 {
    text-align: center;
}

body {
    background:url("https://st.depositphotos.com/62799178/58311/i/450/depositphotos_583113658-stock-illustration-pizza-pattern-orange-background-rendering.jpg");
}

p {
    font-size: 20px;
}
